/* Apply mobile-specific styles */
/* @media (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust font size for better readability on mobile */
  /*}

  .home-page, .report-page {
    padding: 20px; /* Add some padding for mobile layout */
  /*}

  .help-button, .report-button, .submit-button {
    width: 100%;
    margin-bottom: 15px;
  }
} */

/* Maintain styles for larger screens */
body {
  font-family: Arial, sans-serif;
  background-color: #aeb3b5; /* Dark background */
  color: #ddd; /* Light text color */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100% ;
}

.header {
  width: 100%;
  max-width: 600px;
  background-color: #333; /* Header background color */
  color: #eee; /* Header text color */
   /* Add padding for better appearance */
  text-align: center;
}

.dash_header{
  width: 100%;
  max-width: 1850px;
  background-color: #e00c0c; /* Header background color */
  color: #ffffff; /* Header text color */
  padding: 5px 0; /* Add padding for better appearance */
  text-align: center;
}

.home-page, .report-page {
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  height: 700px;
  background-color: #333; /* Form background color */
  color: #eee; /* Form text color */
  padding: 40px ; /* Add some padding for readability */
  border-radius: 5px; /* Add subtle form roundness */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for better appearance */
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form_center{
  text-align: center ;
  align-items: center;
  justify-content: center;
  height:580px;
  padding: 20px;
  background-color: #a10707;
}

.forms{
  width: 100%;
  max-width: 260px;

  height: 500px;
  background-color: #333; /* Form background color */
  color: #eee; /* Form text color */
  padding: 40px ; /* Add some padding for readability */
  border-radius: 5px; /* Add subtle form roundness */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for better appearance */
  text-align: center;
  align-items: center;
  justify-content: center;

}

.admin-dashboard{
  width: 1850px;
   /* Adjusted for laptop screen size */
  height: 100vh;
  background-color: #aeb3b5; /* Form background color */
  color: #ffffff; /* Form text color */
  padding: 20px; /* Add some padding for readability */
  border-radius: 5px; /* Add subtle form roundness */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for better appearance */
  text-align: center;
  margin: 20px auto;
}

.map-container {
  width: 100%;
  height: 400px;
  
}


.home-page {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #101111;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height:700px;
}
.home_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #333;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height:700px;
}



.report-page h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  font-size: 25px;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ddd; /* Label text color */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #444; /* Input/textarea background color */
  color: #eee; /* Input/textarea text color */
  border: 1px solid #666; /* Add borders for visibility */
  border-radius: 3px; /* Add slight roundness to input/textarea fields */
}

input:focus,
textarea:focus {
  outline: none; /* Remove default outline */
  border-color: #777; /* Change border color on focus */
}

.help-button {
  width: 100%;
  min-width: 300px;
  min-height: 150px;
  padding: 20px;
  font-size: 35px; /* Adjust font size for buttons */
  cursor: pointer;
  background-color: #ff0000; /* Button background color */
  color: #eee; /* Button text color */
  border: none; /* Remove default button borders */
  border-radius: 5px; /* Add subtle button roundness */
  text-align: center;
  transition: background-color 0.3s ease;
}

.report-button, .submit-button {
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  font-size: 18px; /* Adjust font size for buttons */
  cursor: pointer;
  background-color: #797171; /* Button background color */
  color: #eee; /* Button text color */
  border: none; /* Remove default button borders */
  border-radius: 5px; /* Add subtle button roundness */
  text-align: center;
  transition: background-color 0.3s ease;
}

.report-button:hover {
  background-color: #010101;
}

.help-button:hover, .submit-button:hover {
  background-color: #be362f;
}

.message {
  margin-top: 20px;
  color: #f00; /* Message text color */
}


.message {
  margin-top: 20px;
  color: #f00; /* Message text color */
}

.side-tab {
  position: absolute;
  top:470px;
  right: 60px;
  width: 300px;
  background-color: #eee;
  color: #222222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure it's on top of the map */
}

.side-tab h2 {
  margin-bottom: 20px;
}

.side-tab p {
  margin: 10px 0;
}

.side-tab button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #aa0f0f;
  color: #eee;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.side-tab button:hover {
  background-color: #da1414;
}

.Help{
 
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #b00909;
 
}

.close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #090101;
}

/* LoginPage.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-form {
  max-width: 900px;
  background-color: #333;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form .form-group {
  width: 300px;
  margin-bottom: 1rem;
}

.login-form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form .form-group input {
  width: 100%;
  
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form .form-group button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form .form-group button:hover {
  background-color: #0056b3;
}

.login-form .message {
  margin-top: 1rem;
  color: red;
  text-align: center;
}
